html, body, div, span, h3, p, a, ul, li
        {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-weight: inherit;
            font-style: inherit;
            font-size: 100%;
            font-family: inherit;
            vertical-align: baseline;
        }
        
        :focus
        {
            outline: 0;
        }
        ul
        {
            list-style: none;
        }
        
        body {
	font-size:13px;
line-height:1.4em;
position:relative;
font-family: Arial, Helvetica, sans-serif;
            background: #1d1a2c url(images/body_bg.png) center top repeat-x;
	}

	a.newPostLink, a:link.newPostLink, a:active.newPostLink {
            color:#008080;
            cursor:pointer;
            text-decoration:none;
        }

	a, a:link, a:active {
		color:#333333;
		text-decoration:none;
        cursor: pointer;
	}
	a:visited {
		color:#999999;
	}
	a:hover {
		color:#4f4e6a;
	}
	
	#wrap {
	max-width:1020px;
	margin:-10px auto;
}
* html #wrap {width:50em}
        
        #header
        {
            margin: 0 auto;
            padding: 4px 0 0 0;
            width: 900px;
            position: relative;
        }
        
        
        #page_header
        {
            margin: 0 auto;
            width: 900px;
            height: 110px;
            background: url(images/page_header.png) center top no-repeat;
        }
 
        #page_footer
        {
            width: 900px;
            margin: 0 auto;
        }
        #page_footer h5
        {
            font-size: 28px;
            letter-spacing: -2px;
            font-weight: bold;
            color: #4f4a67;
        }
        
        #footer
        {
            height: 90px;
            border-top: solid 1px #28243d;
            background: #000 url(images/footer_bg.png) center top no-repeat;
            font-size: 11px;
        }
        #footer p
        {
            width: 900px;
            overflow: hidden;
            margin: 0 auto;
            color: #363845;
        }
        #footer span
        {
            display: block;
            height: 90px;
            line-height: 90px;
        }
        #footer .left
        {
            float: left;
            padding-bottom: 20px;
        }
        #footer .right
        {
            float: right;
        }
        #footer a
        {
            color: #7274a1;
        }
        #footer a:hover
        {
            text-decoration: underline;
        }
        
        /* subpages */	
		
	.row-clear {
		clear:left;
		width:100%;
		height:0;
		overflow:hidden;
	}

/* content */

	#headlines {
		width:990px;
		margin:0 auto;
		padding:20px 0;
		position:relative;
		overflow:hidden;
		}
		
		#headlines ul.feed-block {
			margin:10px 15px;
			padding:0;
			list-style:none;
			width:300px;
			float:left;
			display:inline;
			}
			#headlines ul.feed-block li {
				position:relative;
				line-height:1.25em;
				padding:4px 0 4px 0;
				margin:0;
				}		
				#headlines ul.feed-block li h3{
					position:absolute;
					padding:4px 0 4px 0;
					margin:0;
					font-size:.85em;
					line-height:1.5em;
					width:300px;
					height:1.25em;
					overflow:hidden;
					border-top:1px solid #ddd;
				}	
				#headlines ul.feed-block li h3:hover {
					height:auto;
					overflow:auto;
					background:#f6f6f6;
					z-index:11;
				}
			#headlines ul.feed-block li.site {
				font-weight:bold;
				text-transform:uppercase;
				font-size:.9em;
				line-height:1.25em;
				letter-spacing:.05em;
				border:none;
			}
			#headlines ul.feed-block li.hentry {
				height:1.25em;
			}
		li.site a, 
		li.site a:link, 
		li.site a:active, 
		li.site a:visited, 
		li.site a:hover {
			color:#3F3E4C;
		}
		

	.full-post {
		display:none;
	}
	
	.row-clear {
		clear:left;
		width:100%;
		height:0;
		overflow:hidden;
	}
	

.published {
	margin-bottom: 10px;
	font-size:12;
font-family:Arial,Helvetica,sans-serif;

font-weight:bold;
}
	
.cb {margin:0.5em 0;}

.bt {
	height:17px;
	margin:0 0 0 18px;
	background:url(images/border.png) no-repeat 100% 0;
}
.bt div {
	position:relative;
	left:-18px;
	width:18px;
	height:17px;
	background:url(images/border.png) no-repeat 0 0;
	font-size:0;
	line-height:0;
}

.bb {
background:url("images/border.png") no-repeat scroll 100% 100% transparent;
height:47px;
margin:0 0 0 12px;
}
.bb div {
background:url("images/border.png") no-repeat scroll 0 100% transparent;
font-size:0;
height:47px;
left:-12px;
line-height:0;
position:relative;
width:20px;
}

.i1 {
	padding:0 0 0 15px;
	background:url(images/border_lr.png) repeat-y 0 0;
}
	/* Right border */
.i2 {
	padding:0 15px 0 0;
	background:url(images/border_lr.png) repeat-y 100% 0;
}

.i3 {
	display:block;
	margin:0;
	padding:1px 10px;
	background:#fff;
}

.i3:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.i3 {display:inline-block;}
.i3 {display:block;}

    #wrap-bttns  {
background:url("images/bg-bttn-bar.png") repeat-x scroll 0 0 transparent;
bottom:0;
height:34px;
overflow:hidden;
padding:6px 0 0;
position:fixed;
width:100%;
z-index:222
}
#bttn-bar  {
background:url("images/bttn-bar-divider.png") no-repeat scroll 0 100% transparent;
bottom:0;
font-size:11px;
height:30px;
line-height:1.4em;
margin:0 auto;
padding:4px 0 0 10px;
position:relative;
width:950px;
}

#bttn-bar #tweetmeme {
float:left;
height:20px;
padding:7px 0 3px 12px;
}

#bttn-bar .share-facebook {
background:url("images/bttn-bar-facebook.png") no-repeat scroll 0 0 transparent;
bottom:0;
height:30px;
position:absolute;
text-indent:-999em;
width:153px;
}



.rightSort 
{
    text-align: right;
    font-size: 10px;    
}

/* Popups */

#add_feed_popup{
	display:none;
	width:200px;
	background-color:#FFF;
	color: #3F3E4C;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 2px 5px #999;
 	padding: 25px;
}

#error_popup{
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 2px 5px #999;
 	padding: 25px;
 	background-color:red;
 	color: white;
 	display: none;
}

#success_popup{
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 2px 5px #999;
 	padding: 25px;
 	background-color: limegreen;
 	color: white;
 	display: none;
}

/* Buttons */

#bttn-bar .add-feed {
	float:left;ˇˇ
	height:20px;
	padding:7px 0 3px 0px;
	color: white;
	margin-left: 10px;
}

#add_feed_span {
	cursor: pointer;
}

.add_feed_icon {
	float: left;
	padding-top: 7px;
}